:root {
    /* CSS HEX */
    --raw-umber: #956C54ff;
    --persian-red: #CC312Fff;
    --pale-dogwood: #E2C8C0ff;
    --seasalt: #F7FAF9ff;
    --caput-mortuum: #5F3A2Bff;

    /* option2 */
    --light-cyan: #CAE4E3ff;
    --tiffany-blue: #74CFCBff;
    --verdigris: #6BB8B0ff;
    --jet: #31302Fff;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    /* background: linear-gradient(to right,rgb(223, 224, 235) ,  aliceblue); */
    background: var(--tiffany-blue);
}

CSS
.color-1 {color: #000000;}
.color-2 {color: #ffffff;}
.color-3 {color: #e6cb66;}
.color-4 {color: #ac4444;}
.color-5 {color: #666d56;}
.color-6 {color: #2596be;}

.color-1 {color: #c3a171;}
.color-2 {color: #006400;}
.color-3 {color: #bc8f8f;}
.color-4 {color: #191970;}
.color-5 {color: #000000;}
.color-6 {color: #ffffff;}





/* Naviagation bar section */
.navigation {
    /* background: linear-gradient(to right, darkviolet, rgb(255, 0, 234)); */
    background: var(--persian-red);
    /* color:aliceblue; */
    color: var(--seasalt);
    height: 5rem;
    display: flex;
    justify-content: space-between;
    /* line-height: 40px; */
    font-size: 30px;
    font-weight: bold;
}

.titlename {
    /* color: aliceblue; */
    color: var(--seasalt);
    text-align: left;
    padding-left: 10px;
    font-size: 4rem;

}

.nav-cont{
    display:flex;
    align-items: flex-end;
    flex-shrink: 0;
}

.nav-link {
    /* color: aliceblue; */
    color: var(--seasalt);
    text-decoration: none;
    padding-right: 10px; 
    text-align: center;
        
}

.nav-link:hover {
    /* color:rgb(224, 197, 235) */
    color: var(--pale-dogwood);
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
  }

/**********************/
.main {
    /* background-color: aliceblue; */
    /* background: linear-gradient(to right,rgb(223, 224, 235) ,  aliceblue); */
    background-color: var(--tiffany-blue);
    /* width: 100pv; */
    /* height: 720px; */
    display: flex;
    padding-top: 5em;
    /*This is for horizontal  */
    justify-content: space-evenly; 
    /*This is for vertical */
    align-items: center;
}



.content {
    background-color: #F700FF;
    background: linear-gradient(45deg, #faa6fd, #F700FF,  #F700FF);
     /* blueviolet; */
    width: 40em;
    height: 40em;
    border-radius: 50%;
    flex-shrink: 0;
    
    /* line-height: 30vw;
    text-align: center; */
}

.pigs{
    color: aliceblue;
    width: 30vw;
    height: 25em;
    display: flex;
    flex-direction: column; /*this inverts the justify and align */
    justify-content: space-between;
}

.child1, .child2, .child3 {
    /* color: blueviolet; */
    color: var(--jet);
    /* background-color: #fad3fc; */
    background-color:var(--light-cyan);
    padding: 10px;
    /* height: 10rem; */
    font-weight: bold;
    border-radius: 10px;
    font-size: 1.2em;
    /* border: blueviolet solid; */
    border: var(--seasalt) solid;
    border-width: 5px;
    /* box-shadow: 5px 5px #F700FF; */
    box-shadow: 5px 5px var(--persian-red)
}


@media only screen and (min-width: 450px ) and (max-width: 850px){
    .navigation {
        font-size: 20px;
    }

    .main {
        flex-direction: column;
        height: 1200px;
    }

    .content {
       font-size: 10px;
       margin:10px;
    }
    .pigs{
        width: 30em;
    }

}

input[type="checkbox"] {
    display: none; /* Hide the checkbox that will control the menu state */
}

@media only screen and (max-width: 425px){
    .nav-cont {
        display:none;
    }

    .menu-icon {
        display: flex; /* Display the menu icon on smaller screens */
        align-items: center;
    }
    


    input[type="checkbox"]:checked ~ .nav-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        font-size: 16px;
        top: 5em;
        left: 0;
        width: 100%;
        
        
    }

    .navigation {
        font-size: 10px;
    }

    /* .nav-cont {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    } */

    .nav-link {
        /* background-color: #F700FF; */
        background-color: var(--persian-red);
        text-align: center;
        padding: 0;
        flex: 1;
        width: 95%;
        /* border: #fad3fc solid 1px; */
        margin: 1px;
        border-radius: 10px;
        /* box-shadow: inset -3px -2px darkviolet; */
        box-shadow: inset -3px -3px var(--jet);
    }

    .titlename {
        display: flex;
        font-size: 2em;
        justify-content: center; /* Center the flex items horizontally */
        align-items: center; /* Center the flex items vertically */
    }

        /*  */
    .main {
        flex-direction: column;
        height: 1000px;
    }

    .content {
       font-size: 10px;
       margin:10px;
       width: 30em;
       height: 30em;
    }
    .pigs{
        width: 20em;
        gap: 10px;
    }

}
